body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:78px;
  top:291px;
  width:155px;
  height:66px;
  opacity:0.5;
  font-family:'DINPro-Bold', 'DINPro Bold', 'DINPro';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099CC;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:66px;
}
#u3_img.selected {
}
#u3.selected {
}
#u4 {
  position:absolute;
  left:2px;
  top:20px;
  width:151px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:70px;
  width:70px;
  height:70px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5_img.selected {
}
#u5.selected {
}
#u6 {
  position:absolute;
  left:2px;
  top:19px;
  width:66px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:266px;
  top:82px;
  width:45px;
  height:45px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:90px;
  top:70px;
  width:70px;
  height:70px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u9_img.selected {
}
#u9.selected {
}
#u10 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:170px;
  top:70px;
  width:70px;
  height:70px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u11_img.selected {
}
#u11.selected {
}
#u12 {
  position:absolute;
  left:2px;
  top:19px;
  width:66px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:12px;
  top:200px;
  width:50px;
  height:50px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13_img.selected {
}
#u13.selected {
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:71px;
  top:200px;
  width:50px;
  height:50px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15_img.selected {
}
#u15.selected {
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:131px;
  top:200px;
  width:50px;
  height:50px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:9px;
  width:46px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:191px;
  top:200px;
  width:50px;
  height:50px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19_img.selected {
}
#u19.selected {
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:266px;
  top:202px;
  width:45px;
  height:45px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:10px;
  top:480px;
  width:70px;
  height:70px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u23_img.selected {
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:90px;
  top:480px;
  width:70px;
  height:70px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u25_img.selected {
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:170px;
  top:480px;
  width:70px;
  height:70px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u27_img.selected {
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:2px;
  top:19px;
  width:66px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:266px;
  top:492px;
  width:45px;
  height:45px;
  font-family:'Avenir-Medium', 'Avenir Medium', 'Avenir';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:56px;
  top:378px;
  width:200px;
  height:22px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u31_input:disabled {
  color:grayText;
}
#u32 {
  position:absolute;
  left:10px;
  top:50px;
  width:200px;
  height:20px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:10px;
  top:165px;
  width:301px;
  height:20px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-5px;
  width:297px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:454px;
  width:301px;
  height:20px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:291px;
  top:13px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:14px;
  height:1px;
}
#u39 {
  position:absolute;
  left:291px;
  top:22px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:14px;
  height:1px;
}
#u40 {
  position:absolute;
  left:198px;
  top:13px;
  width:100px;
  height:20px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:184px;
  top:4px;
  width:134px;
  height:40px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
